body {
  background-color: black;
  color: white;
}

.inputBox {
  display: flex;
  background-color: #2727272a;
  border: 1px solid black;
}

.inputBox input {
  flex: 1;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
}


.inputBox textarea{
  flex: 1;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  min-height: 40vh;
  resize: vertical;
  border: none;
  outline: none;
}

.btnNormal {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.topUsers::-webkit-scrollbar {
  display: none;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px; /* spacing between posts */
}
